body {
	font-family: 'Nanum Brush Script', cursive;
  	color: #2b2b2b;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
	text-align: center;
  	font-size: 26;
	background: url("icons/header.png");
	background-position: center top;
	background-repeat: no-repeat;
    background-size: 100%;
}

#submit {
	position: fixed;
	top: 85%;
	left: 42%;
}

#nameageschool {
	position: fixed;
	top: 40%;
	left: 30%;
}

#interestshobbies {
	position: fixed;
	top: 40%;
	left: 30%;
}

#schedule {
	position: fixed;
	top: 30%;
	left: 30%;
}

#regions {
	position: fixed;
	top: 22%;
	left: 12%;
}

#australia {
	position: fixed;
	top: 73%;
	left: 64%;
}

#scheduleaus {
	position: fixed;
	top: 73%;
	left: 64%;
}

#profilebtn {
	position: fixed;
	top: 17%;
	left: 6%;
}

#aboutbtn {
	position: fixed;
	top: 17.2%;
	left: 22%;
}

#homebtn {
	position: fixed;
	top: 17.2%;
	left: 38%;
}

#passportbtn {
	position: fixed;
	top: 17.2%;
	left: 52%;
}

#schedulebtn {
	position: fixed;
	top: 17.2%;
	left: 70%;
}

#callbtn {
	position: fixed;
	top: 17.2%;
	left: 88%;
}

#connectedwithsarahtext {
	position: fixed;
	top: 40%;
	left: 0%;
}

#emailcalendar {
	position: fixed;
	top: 60%;
	left: 35%;
}

#homelefttop {
	position: fixed;
	top: 32%;
	left: 0%;
}

#homeleftbottom {
	position: fixed;
	top: 79%;
	left: 0%;
}

#homemiddletop {
	position: fixed;
	top: 31.9%;
	left: 30%;
}

#homemiddlebottom {
	position: fixed;
	top: 79%;
	left: 30%;
}

#homeright {
	position: fixed;
	top: 31.9%;
	left: 70%;
}

#schedulefiller {
	position: fixed;
	top: 24%;
	left: 35%;
}

#propic {
	position: fixed;
	top: 34%;
	left: 10%;
}

#profiller {
	position: fixed;
	top: 30%;
	left: 36%;
}

#abouttext {
	position: fixed;
	top: 40%;
	left: 30%;
}

#regionspassport {
	position: fixed;
	top: 28%;
	left: 12%;
}

#regionscolorpassport {
	position: fixed;
	top: 22.5%;
	left: 27%;
}

#giftselectfiller {
	position: fixed;
	top: 25%;
	left: 10%;
}

#callfiller {
	position: fixed;
	top: 27%;
	left: 18%;
}

#callfiller2 {
	position: fixed;
	top: 27%;
	left: 18%;
}

#callfiller3 {
	position: fixed;
	top: 27%;
	left: 18%;
}

#visual {
	position: fixed;
	top: 27%;
	left: 18%;
}

#completeaus {
	position: fixed;
	top: 34%;
	left: 64%;
}

#regionscall {
	position: fixed;
	top: 32%;
	left: 12%;
}

#scheduletable {
	padding-top: 200px;
    width: 1400px;
    height: 650px;
    border: 4px;
    padding-left: 120px;
}

.slidecontainer {
    width: 40%; 
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 40%;
    height: 25px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    position: fixed;
	top: 35%;
	left: 18%;
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px; 
    background: #4CAF50;
    cursor: pointer; 
}

#slide1 {
	position: fixed;
	top: 40%;
	left: 49%;
}

#slide2 {
	position: fixed;
	top: 50%;
	left: 49%;
}

#slide3 {
	position: fixed;
	top: 60%;
	left: 49%;
}

#slide1output {
	position: fixed;
	top: 40%;
	left: 92%;
}

#slide2output {
	position: fixed;
	top: 50%;
	left: 92%;
}

#slide3output {
	position: fixed;
	top: 60%;
	left: 92%;
}

#slide1desc {
    position: fixed;
	top: 37%;
	left: 15%;
}

#slide2desc {
    position: fixed;
	top: 47%;
	left: 15%;
}

#slide3desc {
    position: fixed;
	top: 57%;
	left: 15%;
}

#report {
    position: fixed;
	top: 80%;
	left: 5%;
	cursor: pointer; 
}

#sharecontact {
    position: fixed;
	top: 90%;
	left: 5%;
	cursor: pointer; 
}

.hover {
	opacity: 0.7;
}

.hover:hover {
    opacity: 1; 
}

#NA {
	position: fixed;
	top: 28%;
	left: 16.4%;
}

#SA {
	position: fixed;
	top: 57%;
	left: 26.5%;
}

#AFRICA {
	position: fixed;
	top: 47.4%;
	left: 40%;
}

#ASIA {
	position: fixed;
	top: 30.3%;
	left: 42.7%;
}

#AUS {
	position: fixed;
	top: 66.2%;
	left: 64.5%;
}